.collapse-lines {
    float: right;
    line-height: 31px;
    margin-right: 10px;
}

.collapse-lines input {
    margin-right: 3px;
}

.collapse-lines label {
    margin-left: 10px;
}

.js-selectable-text,
.user-select-contain {
    cursor: pointer;
}

.bottom-collapse {
    cursor: pointer;
    font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center !important;
    margin: 0;
    padding: 2px;
    background-color: #f7f7f7;
    border-top: 1px solid #d8d8d8
}

.open.Details--on.ppr-hidden {
  display: none;
}

.ppr-toggle {
  position: relative;
  float: left;
  padding: 3px 14px;
  font-weight: 600;
  line-height: 20px;
  color: #586069;
  background-color: #fff;
  border: 1px solid #e1e4e8;
  border-radius: 3px;
}
.ppr-toggle:hover {
  background-color: #eee;
}

.ppr-toggle.selected {
  z-index: 2;
  color: #fff;
  background-color: #0366d6;
  border-color: #0366d6;
}
